#include "w32_main.h"

GENERIC  ICON DISCARDABLE "win32/icons/sb4w.ico"
ID_SBICO ICON DISCARDABLE "win32/icons/sb4w.ico"

GENERIC MENU DISCARDABLE
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Load", ID_LOAD
		MENUITEM "&Restart", ID_RESTART
		MENUITEM "&Break", ID_BREAK
		MENUITEM SEPARATOR
		MENUITEM "&Quit", ID_QUIT
	END
END
