[Desktop Entry]
Name=SmallBASIC IDE 
Comment=SmallBASIC
Exec=sbasici
Icon=sb-desktop-32x32.png
Terminal=false
Type=Application
Categories=Application;Development;

