[Desktop Entry]
Name=SmallBASIC
Exec=sbasic
Icon=sb-desktop-128x128
Terminal=false
Type=Application
Categories=Development;
MimeType=application/bas
NoDisplay=false
