[Desktop Entry]
Encoding=UTF-8
Name=SmallBASIC
Comment=SmallBASIC
Exec=sbasicg
Icon=sb-desktop-128x128.png
Terminal=false
Type=Application
Categories=Application;Development;
MimeType=application/bas
NoDisplay=false
