/*
*	'Working Draft' Style
*
*	based on W3C style
*/

body {
  margin-left: 60px;
  margin-right: 50px;
  margin-top: 26px;
  margin-bottom: 60px;
  font-family: sans-serif;
  color: black;
  background: white;
  background-position: top left;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
:link { color: #00C; }
:visited { color: #609; }
a:active { color: #C00; }

a:link img, a:visited img { border-style: none } /* no border on img links */

a img { color: white; }        /* trick to hide the border in Netscape 4 */
@media all {                   /* hide the next rule from Netscape 4 */
  a img { color: inherit; }    /* undo the color change above */
}

caption, li, th, td { /* ns 4, ie 5 */
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 { text-align: left }
h1, h2, h3 { color: #005A9C; }
h1 { font: bold 2.0em sans-serif }
h2 { font: bold 1.8em sans-serif }
h3 { font: bold 1.6em sans-serif }
h4 { font: bold 1.4em sans-serif }
h5 { font: italic 1.2em sans-serif }
h6 { font: small-caps 1em sans-serif }

.hide { display: none }

div.head 			{ margin-bottom: 1em }
div.head table 		{ margin-left: 2em; margin-top: 2em }

p.copyright 		{ font-size: small }
p.copyright small	{ font-size: small }

a[href]:hover { background: #ffa }

pre {
	margin-left: 2em;
	margin-right: 2em;
	}

pre.xmp	{
	color: green;
	font-family: Courier New, Courier, monospace;
	}

pre.example {
	border-top: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	}

pre.syntax {
	border-top: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	padding: 1em;
	color: black;
	}

pre.result {
	color: green;
	background-color: #f0f0f0;
	border: 1px solid #c0c0c0;
	}

dt, dd	{ margin-top: 0; margin-bottom: 0 } /* opera 3.50 */
dt 		{ font-weight: bold }

pre, code { font-family: monospace } /* navigator 4 requires this */

ul.toc {
  list-style: disc;		/* Mac NS has problem with 'none' */
  list-style: none;
	}

body {
	background-image: url(draft.png);
	}

table.tex, table.latex {
  	border-top: 1px solid black;
  	border-bottom: 1px solid black;
	}

.tex caption, .latex caption {
  	font-family: sans-serif;
	font-style: italic;
	}

li { margin: 0.75em; }

.note {
	border-top: 1px solid #d0d0d0;
	color: #808080;
	}

acronym {
	color: #00C;
	font-weight: bold;
	font-style: normal;
	}


