<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.sourceforge.smallbasic"
	android:versionCode="3"
	android:versionName="0.11.3">	
  <application
		  android:icon="@drawable/icon"
		  android:label="@string/app_name">
		<activity android:name=".MoSync"
			        android:screenOrientation="landscape"
			        android:configChanges="keyboardHidden|orientation"
			        android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:scheme="file" />
        <data android:host="*" />
        <data android:pathPattern=".*\\.bas" />
      </intent-filter>
		</activity>
		<activity android:name=".MoSyncPanicDialog"
			        android:label="@string/app_name">
		</activity>
		<activity android:name=".TextBox"
			        android:label="@string/app_name">
		</activity>
		<service android:name="com.mosync.internal.android.notifications.LocalNotificationsService" />
		<service android:name=".MoSyncService" />
	</application>
	<uses-sdk android:minSdkVersion="7" />
	<supports-screens
		  android:largeScreens="true"
		  android:normalScreens="true"
		  android:smallScreens="true"
		  android:anyDensity="true" />
  <!-- Permissions -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
